Lab 11
-----------------------------------------
Hey Everyone, 

Guidelines for the Lab:
- Download the lab materials from D2L. You're supposed to complete it by the deadline, Sunday (10th April) 4pm PDT.  

- You have to complete the assignments individually. If you are having trouble completing the assignment do let the TA's/CP's or Graders know.

- Please don't copy code (either partially/fully) from your classmates. Plagiarism of any form will result in a 0 and you will be reported to SJACS (https://sjacs.usc.edu/students/academic-integrity/).

- You have to fill the code in this notebook and upload it for submission. While doing this, make sure all supporting files that you download from D2L are in the same directory as this notebook.  

- Please don't submit code in text files and .py files. Also no mailing code to the TA's or Graders. There were exemptions provided to students in earlier labs due to D2L issues, environment setup and course registrations but these exemptions will not be carried over to future labs.

- File Naming Convention : Lab11_FIRSTNAME_LASTNAME.ipynb (Failure to comply to this policy may incur penalties ).

- Don't change existing methods (if any, unless otherwise mentioned in the instructions)

- You are encouraged to look up resources online like python docs and stackoverflow. But, you are encouraged to look up the topics and not the questions themselves.  

- Your last submission before the deadline will be counted towards your grade. You can submit any number of times before the deadline.

- Scores are capped at 10 points including the Bonus problem. For Example : Even if you get a score of 12/10, your score is capped at 10.

- Your output should be as mentioned in the question (Don't output/print extra items which are not asked in the question as it makes it difficult for the graders to grade). (Failure to comply to this policy may incur penalties)

- You need to take input from file/console only if it is mentioned in the question. If not we need just the logic/implementation of your function.

- Please Don't ask for changes to the Grading Rubrics. Some questions have all/nothing rubric and missing one test case/ edge case may result in a 0 score. So you are encouraged to write your own test cases and evaluate your code as and where necessary. The TA's or Graders will not be providing you with the test cases.

----------------------------------------------
- To make coding easier, a lot of the boilerplate code has been given as a template to show you first hand how OOPs constructs are designed. Please use them as references.

- Don't change the existing boilerplate code. The reason the boilerplate code has been given, is to make it easy for you to see the bigger picture and get you up to speed faster. There have been multiple comments added, to make it easier for students to logically comprehend the sequence of steps.

Notes:

Today, we are going to write some queries in order to create and manipulate tables.  

Info about sqlite python module: https://docs.python.org/3/library/sqlite3.html  

For executing queries, this is the lifecycle that you'll follow:  
1. import the library `sqlite3`  
2. Create a connection to the database using `conn = sqlite3.connect('your db name')`  
3. Create a cursor from the connection object we just created  ` cur = conn.cursor()`
4. Execute queries to the database using the cursor object and the execute function. Example : `cur.execute('SELECT * from Lab11')` .Use `cur.fetchall()` : fetches all (or all remaining) rows of a query result set and returns a list of tuples. If no more rows are available, it returns an empty list.

5. Lastly, make sure to commit and close the connection. (Likely to face problems if you forget this. In the worst case, try to restart the kernel.) 


```
Sample example to create table :

cur.execute('CREATE TABLE test \
        (a1 INTEGER, \
        b1 TEXT \
        )')

Where a1, b1 are columns in the table test.
```

You can also try to run this Lab on Google Collab : https://colab.research.google.com/

Q1. (4 points)
---

You are asked to create a database (named: 'DSCI510.db'). In this database, create a table named 'Lab11'.Also insert atleast 10 rows of data and fetch all rows and return that list data. 

More Information regarding the Database creation is as below:  

DB name : 'DSCI510.db'  
Table name : 'Lab11'  
    - columns in the table : (id(integer), student_name(text), age(integer), major(text) , hometown(text) , address(text) )  

Some Example data: 

Row 1  : (1,'Albert', 20, 'Computer Science' ,'San Diego' , '1200, W 100 St, LA')  
Row 2 : (2,'Lisa', 25, 'Health Sciences' , 'Los Angeles' , '1201, W 100 St, LA' )  

etc..

Note: All the data is dummy data, so feel free to create your own data (at least 10 rows)
Refer Notes above for the steps.

---



---

Grading Rubric: 

1) 2.5 marks for creating the dummy data(10 rows). Each row carries 0.25 marks

2) 1.5 marks for printing the data.( -0.25 for each row that doesn't match with the data inserted into the table)

In [108]:
import sqlite3

def sample_data():
    connection = sqlite3.connect("DSCI510.db") 
    cur = connection.cursor()
    
    cur.execute("DROP TABLE IF EXISTS Lab11")
    
    cur.execute("CREATE TABLE Lab11 (id INTEGER, student_name TEXT, age INTEGER, major TEXT, hometown TEXT, address TEXT)")

    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (1,'Albert', 20, 'Computer Science' ,'San Diego' , '1200, W 100 St, LA')")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (2,'Stewart', 21, 'Music Industry' , 'New Jersey' , '1201, W 100 St, LA')")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (3,'Maya', 22, 'Applied Mathematics' , 'Los Altos' , '1202, W 100 St, LA')") 
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (4,'Charlotte', 22, 'Communications' , 'New York' , '1203, W 100 St, LA')")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (5,'Eva', 21, 'Communications' , 'Danville' , '1204, W 100 St, LA')")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (6,'Lara', 21, 'Cognitive Science' , 'San Diego' , '1205, W 100 St, LA' )")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (7,'Kelly', 21, 'Health Sciences' , 'Santa Barbara' , '1206, W 100 St, LA' )")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (8,'Samantha', 22, 'Art History' , 'Glencoe' , '1207, W 100 St, LA' )")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (9,'Lily', 22, 'Business' , 'Manhattan Beach' , '1208, W 100 St, LA' )")
    cur.execute("INSERT INTO Lab11 (id, student_name, age, major, hometown, address) VALUES (10,'Merry', 22, 'Biochemistry' , 'Tampa' , '1209, W 100 St, LA' )")
    
    connection.commit()
    
    cur.execute("SELECT * FROM Lab11")
    values = cur.fetchall()
    
    cur.close()
    connection.close()
    
    return values
    pass
print(sample_data())

[(1, 'Albert', 20, 'Computer Science', 'San Diego', '1200, W 100 St, LA'), (2, 'Stewart', 21, 'Music Industry', 'New Jersey', '1201, W 100 St, LA'), (3, 'Maya', 22, 'Applied Mathematics', 'Los Altos', '1202, W 100 St, LA'), (4, 'Charlotte', 22, 'Communications', 'New York', '1203, W 100 St, LA'), (5, 'Eva', 21, 'Communications', 'Danville', '1204, W 100 St, LA'), (6, 'Lara', 21, 'Cognitive Science', 'San Diego', '1205, W 100 St, LA'), (7, 'Kelly', 21, 'Health Sciences', 'Santa Barbara', '1206, W 100 St, LA'), (8, 'Samantha', 22, 'Art History', 'Glencoe', '1207, W 100 St, LA'), (9, 'Lily', 22, 'Business', 'Manhattan Beach', '1208, W 100 St, LA'), (10, 'Merry', 22, 'Biochemistry', 'Tampa', '1209, W 100 St, LA')]

Q2. (2 points)
---

In this Question we'll run some data analysis query on the above table we created.


```
Print the average age of all the students in the class. (Average is sum of all the ages of students divided by the total number of students in class = sum(ages)/N.

```

Note : We will evaluate you on the queries. So make sure your queries are correct.

Tip : Use the avg function. 

Always try adding more data in the table and test your queries, to be sure.

---

Grading Rubric: 1 mark for the correct query and 1 mark for the complete working code.

In [62]:
import sqlite3

conn = sqlite3.connect("DSCI510.db")
cur = conn.cursor()

query = "SELECT age FROM Lab11"

sum_ages = 0
student_count = 0

for row in cur.execute(query):
    sum_ages += row[0]
    student_count += 1

cur.close()
conn.close()

print("Average Age:",float(sum_ages/student_count), "years")

Average Age: 21.4 years

Q3 - Queries on Titanic Data set (4 points).
---
Implement the function which creates the sql table for the titanic_dataset. You should create this table in the same database that you created in Q1.(DSCI510.db, already provided for you.)    

You are required to use the `csv_dataset` class that we used in the older labs. We already have provided you with the code, which contains `csv_dataset` class implementation. You should create `csv_dataset` object with `titanic_dataset.csv` file. (code already provided below for you.)

```
Table name - titanic_dataset  
Column names should be the same as the first row of the dataset and the types should be from integer, real or  text as required. 
PassengerId should be the primary key of the table.
```
In the data set, for column survived, 1 means the passenger survived, and 0 means the passenger didn't survive. All the data in the Fare column are in the same units.

```
Insert the whole dataset into a sql table and Get the information (via sql query) of the person who has paid   the highest Fare in the titanic data set. Print the whole row itself.
```

---

Extra Bonus (Not graded) : Try to see if there's any correlation between "sex or age" of the passenger aboard and survival rate on the titanic. Try to think of how you can model it/ what techniques can you use.

---

In [109]:
import csv

class dataset:
    def __init__(self):
        self.vals = list()
    def __getitem__(self, ind):
        return self.vals[ind]
    def __len__(self):
        return len(self.vals)
    def append_data(self, val):
        self.vals.append(val)
    def load_data(self, list_of_datapoints):
        for val in list_of_datapoints:
            self.append_data(val)


class csv_dataset(dataset):
    def __init__(self, fname, splitter):
        super(csv_dataset, self).__init__()
        with open(fname) as self.file:
            self.reader = csv.reader(self.file, delimiter=splitter)
            for row in self.reader:
                self.append_data(tuple(row))

In [124]:

def get_titanic_dataset():
    conn = sqlite3.connect('DSCI510.db')
    cur = conn.cursor()
    dataset = csv_dataset('titanic_data.csv', ',')
    
    #create table titanic_dataset
    cur.execute("DROP TABLE IF EXISTS titanic_dataset")
    cur.execute("CREATE TABLE titanic_dataset (PassengerId Integer PRIMARY KEY , Survived Integer, Pclass Integer, Name Text, Sex Text, Age Integer, Ticket Text, Fare Real)")
    
    #iterate over the dataset and insert records into the table
    for i in range(1,dataset.__len__()):
        PassengerID = dataset.__getitem__(i)[0]
        Survived = dataset.__getitem__(i)[1]
        PClass = dataset.__getitem__(i)[2]
        Name = dataset.__getitem__(i)[3]
        Sex = dataset.__getitem__(i)[4]
        Age = dataset.__getitem__(i)[5]
        Ticket = dataset.__getitem__(i)[6]
        Fare = dataset.__getitem__(i)[7]
        
        cur.execute("INSERT INTO titanic_dataset (PassengerId, Survived, Pclass, Name, Sex, Age, Ticket, Fare) VALUES (?,?,?,?,?,?,?,?)",(PassengerID, Survived, PClass, Name, Sex, Age, Ticket, Fare))
        conn.commit()
        
    query = cur.execute("SELECT * FROM titanic_dataset ORDER BY Fare DESC")
    top_fare = cur.fetchone()

    cur.close()
    conn.close()

    return top_fare

print(get_titanic_dataset())

(259, 1, 1, 'Ward, Miss. Anna', 'female', 35, 'PC 17755', 512.3292)

## Bonus Questions

Q4) Bonus question (1 mark).
---
```
1. Find the number of females who survived the titanic from the above data set.

2. Find the number of males who survived the titanic from the above data set.
```
Write your queries below:

Rubric : 0.5 marks for each query, (if your final asnwer is correct), 0 otherwise.

In [123]:
conn = sqlite3.connect('DSCI510.db')
cur = conn.cursor()
# Write your queries here
female_query = cur.execute("SELECT * from titanic_dataset WHERE Survived is 1 AND Sex = 'female'")

female_count = 0
for row in female_query:
    female_count += 1

male_query = cur.execute("SELECT * from titanic_dataset WHERE Survived is 1 AND Sex = 'male'")
male_count = 0
for row in male_query:
    male_count += 1

cur.close()
conn.close()
print("No. of Surviving Females:", female_count)
print("No. of Surviving Males:", male_count)

No. of Surviving Females: 233
No. of Surviving Males: 109

Q5) Bonus question (2 marks).
---

Write any 2 advantages of Databases over File Systems.

Rubric : 1 mark for each correct point.

Ans : A file system cannot control redundancy of data, which leads to inconsistences, whereas a DB controls redundancy by maintaining a single repository of data. Also, file systems don't allow for sharing of data, whereas a DB allows for data sharing due to its centralized system.

## Extra Bonus, Advanced (1 Mark) :

This is for students who are already familiar with the basics of ML/DataScience. So if you are unable to attempt this, it's totally fine. 

In the titanic data set, we can see that for some passengers the age data is missing. When the number of items with missing values is significant, it's not a good practise to discard them. Think about what types of techniques are usually used for dealing with missing values. What among those techniques would you apply here.

Hint : Think about Data Imputation.